.CreditFormContainer {
  background-color: #252525;
  box-shadow: 0 2px 3px rgb(25 25 25 / 70%), 0 0 0 1px rgb(25 25 25 / 30%);
  border-radius: 5px;
  width: 20em;
  min-width: 35vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credit-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 85%;
  padding: 0.7em;
}

.input {
  width: 80%;
  height: 1.7em;
  border-radius: 5px;
  border: 1px solid #505050;
  background-color: #505050;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 3px rgb(10 10 10 / 70%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.labell {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.label2 {
  display: flex;
  align-items: center;
  margin-right: 0.1em;
}

.input2 {
  height: 1.7em;
  border-radius: 5px;
  border: 1px solid #505050;
  background-color: #505050;
  color: rgb(255, 255, 255);
  width: 3em;
  box-shadow: 0 2px 3px rgb(10 10 10 / 70%), 0 0 0 1px rgb(10 10 10 / 10%);
}

p {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.6em;
  min-width: fit-content;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.expiry {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

::placeholder{
    color: #afafaf;
}

.submitButton{
    margin-top: 0.5em;
    border: 1px solid #81d8d0;
    background-color: #81d8d0;
    border-radius: 5px;
    height: 2.2em;
    width: 8em;
}

@media (max-width:700px){

}